<a href="https://colab.research.google.com/github/Philip-Jerome/data-science-project/blob/main/Customer_Dormancy_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing of relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Loading of data
first_year = pd.read_excel('online_retail_II.xlsx', sheet_name = 'Year 2009-2010')
second_year = pd.read_excel('online_retail_II.xlsx', sheet_name = 'Year 2010-2011')

In [3]:
# Just checking out the data to see if they loaded properly
first_year

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [4]:
# Noticed an unfamiliar row with a 'POSTAGE' description in the last row (Will handle later)
second_year

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
541909,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [ ]:
# Added Business Year columns to both data so I can eventually join them together to get one full dataset

first_year['Business Year'] = '2009-2010'
second_year['Business Year'] = '2010-2011'

In [ ]:
# Concatenated the first_year and second_year data into one full dataset

combined_data = pd.concat([first_year, second_year], ignore_index = True)

In [ ]:
# Checked out the combined data
combined_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009-2010
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009-2010
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009-2010
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2009-2010
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,2009-2010
...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2010-2011
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,2010-2011
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,2010-2011
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,2010-2011
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,2010-2011

In [ ]:
# Performed initial EDA to understand the data structure and data types
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Invoice        1067371 non-null  object
 1   StockCode      1067371 non-null  object
 2   Description    1062989 non-null  object
 3   Quantity       1067371 non-null  int64
 4   InvoiceDate    1067371 non-null  datetime64[ns]
 5   Price          1067371 non-null  float64
 6   Customer ID    824364 non-null   float64
 7   Country        1067371 non-null  object
 8   Business Year  1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 73.3+ MB

In [ ]:
# Noticed negative values in both the Quantity and Price values signafying returns and adjustments respectively
# Got my first hint about cancellations and returns due to the negative Quantity values
combined_data.describe()

,Quantity,InvoiceDate,Price,Customer ID
count,1.067371e+06,1067371,1.067371e+06,824364.000000
mean,9.938898e+00,2011-01-02 21:13:55.394028544,4.649388e+00,15324.638504
min,-8.099500e+04,2009-12-01 07:45:00,-5.359436e+04,12346.000000
25%,1.000000e+00,2010-07-09 09:46:00,1.250000e+00,13975.000000
50%,3.000000e+00,2010-12-07 15:28:00,2.100000e+00,15255.000000
75%,1.000000e+01,2011-07-22 10:23:00,4.150000e+00,16797.000000
max,8.099500e+04,2011-12-09 12:50:00,3.897000e+04,18287.000000
std,1.727058e+02,NaN,1.235531e+02,1697.464450

In [ ]:
# Checked the data for missing values
combined_data.isnull().sum()

Invoice               0
StockCode             0
Description        4382
Quantity              0
InvoiceDate           0
Price                 0
Customer ID      243007
Country               0
Business Year         0
dtype: int64

In [ ]:
# Checked to see what rows with missing Customer IDs look like
# Noticed an unfamiliar row with 'DOTCOM POSTAGE' description in the last row of the dataframe below (Will research and handle later)
combined_data[combined_data['Customer ID'].isnull()]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
263,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.00,NaN,United Kingdom,2009-2010
283,489463,71477,short,-240,2009-12-01 10:52:00,0.00,NaN,United Kingdom,2009-2010
284,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.00,NaN,United Kingdom,2009-2010
470,489521,21646,NaN,-50,2009-12-01 11:44:00,0.00,NaN,United Kingdom,2009-2010
577,489525,85226C,BLUE PULL BACK RACING CAR,1,2009-12-01 11:49:00,0.55,NaN,United Kingdom,2009-2010
...,...,...,...,...,...,...,...,...,...
1066997,581498,85099B,JUMBO BAG RED RETROSPOT,5,2011-12-09 10:26:00,4.13,NaN,United Kingdom,2010-2011
1066998,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2011-12-09 10:26:00,4.13,NaN,United Kingdom,2010-2011
1066999,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2011-12-09 10:26:00,4.96,NaN,United Kingdom,2010-2011
1067000,581498,85174,S/4 CACTI CANDLES,1,2011-12-09 10:26:00,10.79,NaN,United Kingdom,2010-2011
1067001,581498,DOT,DOTCOM POSTAGE,1,2011-12-09 10:26:00,1714.17,NaN,United Kingdom,2010-2011

In [ ]:
# Checked to see what rows with negative Quantities look like
# Noticed that the negative Quantities are associated with the cancelled invoices (cancellations/returns)
# Noticed another unfamiliar row with 'Manual' description (Will handle later)
combined_data[combined_data['Quantity'] < 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia,2009-2010
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia,2009-2010
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia,2009-2010
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.0,Australia,2009-2010
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.0,Australia,2009-2010
...,...,...,...,...,...,...,...,...,...
1065910,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom,2010-2011
1067002,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom,2010-2011
1067176,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom,2010-2011
1067177,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,2010-2011
1067178,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,2010-2011

In [ ]:
# Checked to see what rows with negative Price looks like
# Confirms that rows with missing Customer IDs also have negative Prices (that means that the negative prices will also be removed when I remove the null values in the Customer ID column)
# Found out that they have to do manual adjustments to bad debt
combined_data[combined_data['Price'] < 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
179403,A506401,B,Adjust bad debt,1,2010-04-29 13:36:00,-53594.36,NaN,United Kingdom,2009-2010
276274,A516228,B,Adjust bad debt,1,2010-07-19 11:24:00,-44031.79,NaN,United Kingdom,2009-2010
403472,A528059,B,Adjust bad debt,1,2010-10-20 12:04:00,-38925.87,NaN,United Kingdom,2009-2010
825444,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom,2010-2011
825445,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom,2010-2011

In [ ]:
# Removed missing Customer IDs
# Noticed that the missing values in Description were also removed
# Meaning rows with missing Customer IDs also have missing Descriptions and negative price values
combined_data = combined_data.dropna(subset = ['Customer ID'])
combined_data.isnull().sum()

Invoice          0
StockCode        0
Description      0
Quantity         0
InvoiceDate      0
Price            0
Customer ID      0
Country          0
Business Year    0
dtype: int64

In [ ]:
# Checking to see the dataframe again
# Noticed that the dataframe reduced by 243007 rows which are associated with the missing Customer IDs
combined_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009-2010
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009-2010
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009-2010
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2009-2010
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,2009-2010
...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2010-2011
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,2010-2011
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,2010-2011
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,2010-2011
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,2010-2011

In [ ]:
# I standardized the Country column to all capital letters

combined_data.loc[:, 'Country'] = combined_data['Country'].str.upper().str.strip()
combined_data.loc[:, 'Description'] = combined_data['Description'].str.upper().str.strip()
combined_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,UNITED KINGDOM,2009-2010
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM,2009-2010
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM,2009-2010
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,UNITED KINGDOM,2009-2010
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,UNITED KINGDOM,2009-2010
...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,FRANCE,2010-2011
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,2010-2011
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,2010-2011
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,FRANCE,2010-2011
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,FRANCE,2010-2011

In [ ]:
# Handled shipping/delievery charges that do not signal customer purchasing behavior or buying intent

product_sales_data = combined_data.loc[~combined_data['Description'].str.contains('POSTAGE|DOTCOM POSTAGE|MANUAL|CARRIAGE', case = False, na = False)]
product_sales_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,UNITED KINGDOM,2009-2010
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM,2009-2010
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM,2009-2010
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,UNITED KINGDOM,2009-2010
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,UNITED KINGDOM,2009-2010
...,...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,FRANCE,2010-2011
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,FRANCE,2010-2011
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,2010-2011
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,2010-2011
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,FRANCE,2010-2011

In [ ]:
# Checked to see if the dataset have zero price values
# Found some rows with zero Price values (could be promotional or gift items, meaning that they are not actual product sales)
# Even the word CHRISTMAS in CHRISTMAS PUDDING TRINKET POT and CHRISTMAS CRAFT WHITE FAIRY suggests that these products are gift items
# Typically towards end of the year and December season
product_sales_data[product_sales_data['Price'] == 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
4674,489825,22076,6 RIBBONS EMPIRE,12,2009-12-02 13:34:00,0.0,16126.0,UNITED KINGDOM,2009-2010
6781,489998,48185,DOOR MAT FAIRY CAKE,2,2009-12-03 11:19:00,0.0,15658.0,UNITED KINGDOM,2009-2010
18738,490961,22065,CHRISTMAS PUDDING TRINKET POT,1,2009-12-08 15:25:00,0.0,14108.0,UNITED KINGDOM,2009-2010
18739,490961,22142,CHRISTMAS CRAFT WHITE FAIRY,12,2009-12-08 15:25:00,0.0,14108.0,UNITED KINGDOM,2009-2010
32916,492079,85042,ANTIQUE LILY FAIRY LIGHTS,8,2009-12-15 13:49:00,0.0,15070.0,UNITED KINGDOM,2009-2010
...,...,...,...,...,...,...,...,...,...
979924,575579,22437,SET OF 9 BLACK SKULL BALLOONS,20,2011-11-10 11:49:00,0.0,13081.0,UNITED KINGDOM,2010-2011
979925,575579,22089,PAPER BUNTING VINTAGE PAISLEY,24,2011-11-10 11:49:00,0.0,13081.0,UNITED KINGDOM,2010-2011
1004540,577129,22464,HANGING METAL HEART LANTERN,4,2011-11-17 19:52:00,0.0,15602.0,UNITED KINGDOM,2010-2011
1006110,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444.0,NORWAY,2010-2011
1027583,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.0,13256.0,UNITED KINGDOM,2010-2011

In [ ]:
# Removed rows with price values less than or equal to zero (that can distort revenue calculations)
# I found out that Price values equal to zero are promotional or gift items
# While price values less than zero are associated with adjustments (wrote off bad debts)

product_sales_data = product_sales_data[product_sales_data['Price'] > 0]
product_sales_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,UNITED KINGDOM,2009-2010
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM,2009-2010
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM,2009-2010
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,UNITED KINGDOM,2009-2010
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,UNITED KINGDOM,2009-2010
...,...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,FRANCE,2010-2011
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,FRANCE,2010-2011
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,2010-2011
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,2010-2011
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,FRANCE,2010-2011

In [ ]:
# Confirmed that the Quantity column do not have zero values anymore
product_sales_data[product_sales_data['Quantity'] == 0]

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Business Year]
Index: []

In [ ]:
# Investigated what I initially perceived as the Price outliers
# Found out that high Price values >300 are associated with ADJUSTMENTS, DISCOUNTS and CRUK COMMISSIONS
product_sales_data[product_sales_data['Price'] > 300]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
71038,495755,ADJUST,ADJUSTMENT BY JOHN ON 26/01/2010 16,1,2010-01-26 16:29:00,342.80,14413.0,UNITED KINGDOM,2009-2010
71082,495802,ADJUST,ADJUSTMENT BY JOHN ON 26/01/2010 17,1,2010-01-26 17:28:00,387.54,12748.0,UNITED KINGDOM,2009-2010
95554,C498420,D,DISCOUNT,-1,2010-02-18 16:25:00,947.08,14646.0,NETHERLANDS,2009-2010
208669,C509473,ADJUST,ADJUSTMENT BY PETER ON 24/05/2010 1,-1,2010-05-24 11:12:00,300.13,17050.0,UNITED KINGDOM,2009-2010
208671,C509475,ADJUST,ADJUSTMENT BY PETER ON 24/05/2010 1,-1,2010-05-24 11:13:00,358.47,17364.0,UNITED KINGDOM,2009-2010
249672,513564,ADJUST2,ADJUSTMENT BY PETER ON JUN 25 2010,1,2010-06-25 14:15:00,300.13,17050.0,UNITED KINGDOM,2009-2010
249673,513566,ADJUST2,ADJUSTMENT BY PETER ON JUN 25 2010,1,2010-06-25 14:15:00,358.47,17364.0,UNITED KINGDOM,2009-2010
318602,C520413,D,DISCOUNT,-1,2010-08-26 09:38:00,591.43,15498.0,UNITED KINGDOM,2009-2010
365920,C524867,D,DISCOUNT,-1,2010-10-01 09:33:00,413.40,14912.0,ITALY,2009-2010
392470,C527108,D,DISCOUNT,-1,2010-10-14 17:17:00,350.60,17389.0,UNITED KINGDOM,2009-2010
399358,C527516,D,DISCOUNT,-1,2010-10-18 13:03:00,619.92,18102.0,UNITED KINGDOM,2009-2010
450818,C532255,D,DISCOUNT,-1,2010-11-11 12:50:00,1269.51,14088.0,UNITED KINGDOM,2009-2010
676052,C549452,D,DISCOUNT,-1,2011-04-08 14:17:00,1867.86,17940.0,UNITED KINGDOM,2010-2011
748132,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098.0,UNITED KINGDOM,2010-2011
748143,556446,22502,PICNIC BASKET WICKER 60 PIECES,1,2011-06-10 15:33:00,649.50,15098.0,UNITED KINGDOM,2010-2011
826412,C563225,D,DISCOUNT,-1,2011-08-14 14:35:00,434.51,14911.0,EIRE,2010-2011
876043,C567655,CRUK,CRUK COMMISSION,-1,2011-09-21 14:40:00,608.66,14096.0,UNITED KINGDOM,2010-2011
887050,C568345,CRUK,CRUK COMMISSION,-1,2011-09-26 15:28:00,447.56,14096.0,UNITED KINGDOM,2010-2011
898246,C569245,CRUK,CRUK COMMISSION,-1,2011-10-03 09:57:00,361.59,14096.0,UNITED KINGDOM,2010-2011
915425,C570487,CRUK,CRUK COMMISSION,-1,2011-10-10 17:12:00,411.92,14096.0,UNITED KINGDOM,2010-2011
927228,C571440,CRUK,CRUK COMMISSION,-1,2011-10-17 13:31:00,495.98,14096.0,UNITED KINGDOM,2010-2011
941573,C572551,CRUK,CRUK COMMISSION,-1,2011-10-24 17:07:00,425.14,14096.0,UNITED KINGDOM,2010-2011
955457,C573575,CRUK,CRUK COMMISSION,-1,2011-10-31 14:09:00,606.00,14096.0,UNITED KINGDOM,2010-2011
980745,C575606,CRUK,CRUK COMMISSION,-1,2011-11-10 12:37:00,517.51,14096.0,UNITED KINGDOM,2010-2011
992356,C576338,CRUK,CRUK COMMISSION,-1,2011-11-14 15:27:00,1038.75,14096.0,UNITED KINGDOM,2010-2011
1020205,C578269,CRUK,CRUK COMMISSION,-1,2011-11-23 13:39:00,849.93,14096.0,UNITED KINGDOM,2010-2011
1033982,C579195,CRUK,CRUK COMMISSION,-1,2011-11-28 15:54:00,987.14,14096.0,UNITED KINGDOM,2010-2011
1053454,C580726,CRUK,CRUK COMMISSION,-1,2011-12-05 17:17:00,1100.44,14096.0,UNITED KINGDOM,2010-2011

In [ ]:
# Removed high Price values associated with ADJUSTMENTS, DISCOUNTS and CRUK COMMISSIONS
# Also found out that some high Price values are actual product sales
product_sales_data = product_sales_data.loc[~product_sales_data['Description'].str.contains('ADJUSTMENT|DISCOUNT|CRUK|COMMISSION', case = False, na = False)]
product_sales_data[product_sales_data['Price'] > 300]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
748132,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.5,15098.0,UNITED KINGDOM,2010-2011
748143,556446,22502,PICNIC BASKET WICKER 60 PIECES,1,2011-06-10 15:33:00,649.5,15098.0,UNITED KINGDOM,2010-2011

In [ ]:
# Checking my dataset
product_sales_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,UNITED KINGDOM,2009-2010
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM,2009-2010
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,UNITED KINGDOM,2009-2010
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,UNITED KINGDOM,2009-2010
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,UNITED KINGDOM,2009-2010
...,...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,FRANCE,2010-2011
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,FRANCE,2010-2011
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,2010-2011
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,2010-2011
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,FRANCE,2010-2011

In [ ]:
# Checked for duplicate transactions
product_sales_data.duplicated().sum()

np.int64(11984)

In [ ]:
# Investigated the duplicate transactions to see if they are real duplicates
# I found out that the perceived duplicates are not really duplicates, but are multiple product orders under the same invoice
duplicate_transactions = product_sales_data[product_sales_data.duplicated()]
duplicate_transactions

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
371,489517,21912,VINTAGE SNAKES & LADDERS,1,2009-12-01 11:34:00,3.75,16329.0,UNITED KINGDOM,2009-2010
383,489517,22130,PARTY CONE CHRISTMAS DECORATION,6,2009-12-01 11:34:00,0.85,16329.0,UNITED KINGDOM,2009-2010
384,489517,22319,HAIRCLIPS FORTIES FABRIC ASSORTED,12,2009-12-01 11:34:00,0.65,16329.0,UNITED KINGDOM,2009-2010
385,489517,21913,VINTAGE SEASIDE JIGSAW PUZZLES,1,2009-12-01 11:34:00,3.75,16329.0,UNITED KINGDOM,2009-2010
386,489517,21821,GLITTER STAR GARLAND WITH BELLS,1,2009-12-01 11:34:00,3.75,16329.0,UNITED KINGDOM,2009-2010
...,...,...,...,...,...,...,...,...,...
1067136,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446.0,UNITED KINGDOM,2010-2011
1067150,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446.0,UNITED KINGDOM,2010-2011
1067153,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446.0,UNITED KINGDOM,2010-2011
1067160,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446.0,UNITED KINGDOM,2010-2011
1067162,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446.0,UNITED KINGDOM,2010-2011

In [ ]:
# Handled the Quantity outliers
# Found out that Quantity values could be as high as 80995 and -80995 (which most likely suggests a case of full-return)

product_sales_data['Quantity'].describe()

count    820455.000000
mean         12.446934
std         188.885947
min      -80995.000000
25%           2.000000
50%           5.000000
75%          12.000000
max       80995.000000
Name: Quantity, dtype: float64

In [ ]:
# Tried to investigate the high Quantity values to see if they are genuine or system errors
# Confirmed that the high positive Quantity values are real transactions (bulk sales or wholesale orders)
product_sales_data[product_sales_data['Quantity'] > 10000]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
90857,497946,37410,BLACK AND WHITE PAISLEY FLOWER MUG,19152,2010-02-15 11:57:00,0.10,13902.0,DENMARK,2009-2010
127166,501534,21099,SET/6 STRAWBERRY PAPER CUPS,12960,2010-03-17 13:09:00,0.10,13902.0,DENMARK,2009-2010
127167,501534,21092,SET/6 STRAWBERRY PAPER PLATES,12480,2010-03-17 13:09:00,0.10,13902.0,DENMARK,2009-2010
127168,501534,21091,SET/6 WOODLAND PAPER PLATES,12960,2010-03-17 13:09:00,0.10,13902.0,DENMARK,2009-2010
127169,501534,21085,SET/6 WOODLAND PAPER CUPS,12744,2010-03-17 13:09:00,0.10,13902.0,DENMARK,2009-2010
587080,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,UNITED KINGDOM,2010-2011
1065882,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,UNITED KINGDOM,2010-2011

In [ ]:
# Also confirmed that high negative Quantity values represent full-order returns (real transactions)
product_sales_data[product_sales_data['Quantity'] < -10000]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
587085,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,UNITED KINGDOM,2010-2011
1065883,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446.0,UNITED KINGDOM,2010-2011

In [ ]:
# Converted the Customer ID column to the int datatype
# product_sales_data.columns = product_sales_data.columns.str.strip()
# product_sales_data.loc[:, 'Customer ID'] = product_sales_data['Customer ID'].astype(int)
product_sales_data = product_sales_data.copy()
product_sales_data['Customer ID'] = product_sales_data['Customer ID'].astype(int)
product_sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 820455 entries, 0 to 1067369
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Invoice        820455 non-null  object
 1   StockCode      820455 non-null  object
 2   Description    820455 non-null  object
 3   Quantity       820455 non-null  int64
 4   InvoiceDate    820455 non-null  datetime64[ns]
 5   Price          820455 non-null  float64
 6   Customer ID    820455 non-null  int64
 7   Country        820455 non-null  object
 8   Business Year  820455 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 62.6+ MB

In [ ]:
# Checking my dataset to see if the Customer ID column was successfully converted to integer

product_sales_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,UNITED KINGDOM,2009-2010
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,UNITED KINGDOM,2009-2010
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,UNITED KINGDOM,2009-2010
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,UNITED KINGDOM,2009-2010
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,UNITED KINGDOM,2009-2010
...,...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,FRANCE,2010-2011
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,FRANCE,2010-2011
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,FRANCE,2010-2011
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,FRANCE,2010-2011
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,FRANCE,2010-2011

In [ ]:
# Converted InvoiceDate to the datetime datatype

product_sales_data['InvoiceDate'] = pd.to_datetime(product_sales_data['InvoiceDate'])
product_sales_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,UNITED KINGDOM,2009-2010
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,UNITED KINGDOM,2009-2010
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,UNITED KINGDOM,2009-2010
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,UNITED KINGDOM,2009-2010
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,UNITED KINGDOM,2009-2010
...,...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,FRANCE,2010-2011
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,FRANCE,2010-2011
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,FRANCE,2010-2011
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,FRANCE,2010-2011
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,FRANCE,2010-2011

In [ ]:
# Tried to validate the Country column to ensure that there are no error country entries
# Found an UNSPECIFIED country

product_sales_data['Country'].unique()

array(['UNITED KINGDOM', 'FRANCE', 'AUSTRALIA', 'EIRE', 'GERMANY',
       'PORTUGAL', 'JAPAN', 'DENMARK', 'NETHERLANDS', 'POLAND', 'SPAIN',
       'CHANNEL ISLANDS', 'ITALY', 'CYPRUS', 'BELGIUM', 'GREECE',
       'NORWAY', 'AUSTRIA', 'SWEDEN', 'UNITED ARAB EMIRATES', 'FINLAND',
       'SWITZERLAND', 'USA', 'UNSPECIFIED', 'MALTA', 'RSA', 'SINGAPORE',
       'BAHRAIN', 'THAILAND', 'ISRAEL', 'LITHUANIA', 'NIGERIA',
       'WEST INDIES', 'KOREA', 'BRAZIL', 'CANADA', 'ICELAND', 'LEBANON',
       'SAUDI ARABIA', 'CZECH REPUBLIC', 'EUROPEAN COMMUNITY'],
      dtype=object)

In [ ]:
# Checked to see how the dataframe looks like with the UNSPECIFIED countries

product_sales_data[product_sales_data['Country'] == 'UNSPECIFIED']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
61394,494860,84832,ZINC WILLIE WINKIE CANDLE STICK,5,2010-01-19 11:01:00,0.85,12470,UNSPECIFIED,2009-2010
61395,494860,84836,ZINC METAL HEART DECORATION,5,2010-01-19 11:01:00,1.25,12470,UNSPECIFIED,2009-2010
61396,494860,85014D,PINK/BROWN DOTS RUFFLED UMBRELLA,1,2010-01-19 11:01:00,5.95,12470,UNSPECIFIED,2009-2010
61397,494860,85014A,BLACK/BLUE DOTS RUFFLED UMBRELLA,1,2010-01-19 11:01:00,5.95,12470,UNSPECIFIED,2009-2010
61398,494860,85014B,RED/WHITE DOTS RUFFLED UMBRELLA,2,2010-01-19 11:01:00,5.95,12470,UNSPECIFIED,2009-2010
...,...,...,...,...,...,...,...,...,...
834271,564051,23007,SPACEBOY BABY GIFT SET,1,2011-08-22 13:32:00,16.95,14265,UNSPECIFIED,2010-2011
834272,564051,21833,CAMOUFLAGE LED TORCH,12,2011-08-22 13:32:00,1.69,14265,UNSPECIFIED,2010-2011
834273,564051,23081,GREEN METAL BOX ARMY SUPPLIES,2,2011-08-22 13:32:00,8.25,14265,UNSPECIFIED,2010-2011
834274,564051,23046,PAPER LANTERN 9 POINT DELUXE STAR,2,2011-08-22 13:32:00,6.65,14265,UNSPECIFIED,2010-2011
834275,564051,23045,PAPER LANTERN 5 POINT STAR MOON,4,2011-08-22 13:32:00,4.15,14265,UNSPECIFIED,2010-2011

In [ ]:
product_sales_data[product_sales_data['Customer ID'] == 12470]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
61394,494860,84832,ZINC WILLIE WINKIE CANDLE STICK,5,2010-01-19 11:01:00,0.85,12470,UNSPECIFIED,2009-2010
61395,494860,84836,ZINC METAL HEART DECORATION,5,2010-01-19 11:01:00,1.25,12470,UNSPECIFIED,2009-2010
61396,494860,85014D,PINK/BROWN DOTS RUFFLED UMBRELLA,1,2010-01-19 11:01:00,5.95,12470,UNSPECIFIED,2009-2010
61397,494860,85014A,BLACK/BLUE DOTS RUFFLED UMBRELLA,1,2010-01-19 11:01:00,5.95,12470,UNSPECIFIED,2009-2010
61398,494860,85014B,RED/WHITE DOTS RUFFLED UMBRELLA,2,2010-01-19 11:01:00,5.95,12470,UNSPECIFIED,2009-2010
61399,494860,21034,REX CASH+CARRY JUMBO SHOPPER,1,2010-01-19 11:01:00,0.95,12470,UNSPECIFIED,2009-2010
61400,494860,20685,RED SPOTTY COIR DOORMAT,1,2010-01-19 11:01:00,6.75,12470,UNSPECIFIED,2009-2010
61401,494860,84824,DANISH ROSE UMBRELLA STAND,1,2010-01-19 11:01:00,15.95,12470,UNSPECIFIED,2009-2010
61402,494860,85123A,WHITE HANGING HEART T-LIGHT HOLDER,7,2010-01-19 11:01:00,2.95,12470,UNSPECIFIED,2009-2010
61403,494860,84970L,SINGLE HEART ZINC T-LIGHT HOLDER,5,2010-01-19 11:01:00,0.95,12470,UNSPECIFIED,2009-2010
61404,494860,20980,36 PENCILS TUBE POSY,3,2010-01-19 11:01:00,1.25,12470,UNSPECIFIED,2009-2010
61405,494860,84763,ZINC FINISH 15CM PLANTER POTS,4,2010-01-19 11:01:00,1.25,12470,UNSPECIFIED,2009-2010
61406,494860,21652,GLASS ETCHED T-LIGHT HOLDER MEDIUM,4,2010-01-19 11:01:00,1.95,12470,UNSPECIFIED,2009-2010
61407,494860,47505,MINATURE COLOURED GARDENING SET,2,2010-01-19 11:01:00,4.95,12470,UNSPECIFIED,2009-2010
61408,494860,20886,BOX OF 9 PEBBLE CANDLES,4,2010-01-19 11:01:00,1.95,12470,UNSPECIFIED,2009-2010
61409,494860,84569C,PACK 4 FLOWER/BUTTERFLY PATCHES,12,2010-01-19 11:01:00,1.25,12470,UNSPECIFIED,2009-2010
61410,494860,84569A,PACK 3 IRON ON DOG PATCHES,12,2010-01-19 11:01:00,1.25,12470,UNSPECIFIED,2009-2010
61411,494860,84569B,PACK 3 FIRE ENGINE/CAR PATCHES,12,2010-01-19 11:01:00,1.25,12470,UNSPECIFIED,2009-2010
61412,494860,20728,LUNCH BAG CARS BLUE,4,2010-01-19 11:01:00,1.65,12470,UNSPECIFIED,2009-2010
61413,494860,20725,LUNCH BAG RED SPOTTY,4,2010-01-19 11:01:00,1.65,12470,UNSPECIFIED,2009-2010
61414,494860,84839,SWEETHEART KEY CABINET,2,2010-01-19 11:01:00,6.75,12470,UNSPECIFIED,2009-2010
61415,494860,85042,ANTIQUE LILY FAIRY LIGHTS,2,2010-01-19 11:01:00,4.95,12470,UNSPECIFIED,2009-2010
61416,494860,47581B,FAIRY CAKE WICKER PICNIC BASKET,1,2010-01-19 11:01:00,12.75,12470,UNSPECIFIED,2009-2010

In [ ]:
# Handled the UNSPECIFIED countries
# Since I do not want to blindly remove the UNSPECIFIED countries rows to avoid losing real customer history
# I checked to see if customers with UNSPECIFIED countries have valid countries elsewhere
# If they do, I replace the UNSPECIFIED countries with their valid countries
# Otherwise, I remove the UNSPECIFIED countries


# I initially wrote the following code to handle the UNSPECIFIED countries
# customers_with_known_countries = product_sales_data.loc[product_sales_data['Country'] != 'UNSPECIFIED', 'Customer ID'].unique()
# product_sales_data = (product_sales_data[(product_sales_data['Country'] != 'UNSPECIFIED') | (product_sales_data['Customer ID']
#                                                                                              .isin(customers_with_known_countries))])


# But I decided to settle for the following code because it is smarter
# I used the following code to create a dictionary with each unqiue Customer ID mapped to it's corresponding Country
customer_country_connection = (product_sales_data.loc[product_sales_data['Country'] != 'UNSPECIFIED', ['Customer ID', 'Country']]
                               .drop_duplicates(subset = 'Customer ID')
                               .set_index('Customer ID')['Country']
                               .to_dict())


# I used the following to rewrite the UNSPECIFIED countries of customers with known countries elsewhere
product_sales_data['Country'] = product_sales_data.apply(
    lambda row: customer_country_connection.get(row['Customer ID'], row['Country']),
    axis = 1
)


# After the replacement, I removed any UNSPECIFIED countries that are left
product_sales_data = product_sales_data[product_sales_data['Country'] != 'UNSPECIFIED']

In [ ]:
# Checked to see if there are still UNSPECIFIED countries
# Confirmed that the dataset is clean of any UNSPECIFIED country

product_sales_data[product_sales_data['Country'] == 'UNSPECIFIED']

Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Business Year]
Index: []

In [ ]:
# Checking to confirm that the Country column has no missing values
product_sales_data['Country'].isna().sum()

np.int64(0)

In [ ]:
# Completed the data cleaning phase
# Checking my dataset
product_sales_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,UNITED KINGDOM,2009-2010
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,UNITED KINGDOM,2009-2010
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,UNITED KINGDOM,2009-2010
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,UNITED KINGDOM,2009-2010
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,UNITED KINGDOM,2009-2010
...,...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,FRANCE,2010-2011
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,FRANCE,2010-2011
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,FRANCE,2010-2011
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,FRANCE,2010-2011
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,FRANCE,2010-2011

In [ ]:
# Made a copy of the product_sales_data
# Started building the customer_level_data

sales_data = product_sales_data.copy()

sales_data['InvoiceDate'] = pd.to_datetime(sales_data['InvoiceDate'])
sales_data['Revenue'] = sales_data['Quantity'] * sales_data['Price']
sales_data['PurchaseQty'] = sales_data['Quantity'].clip(lower = 0)
sales_data['ReturnQty'] = (-sales_data['Quantity']).clip(lower = 0)

sales_data['PurchaseRevenue'] = sales_data['PurchaseQty'] * sales_data['Price']
sales_data['ReturnRevenue'] = sales_data['ReturnQty'] * sales_data['Price']

sales_data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Business Year,Revenue,PurchaseQty,ReturnQty,PurchaseRevenue,ReturnRevenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085,UNITED KINGDOM,2009-2010,83.40,12,0,83.40,0.0
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,UNITED KINGDOM,2009-2010,81.00,12,0,81.00,0.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085,UNITED KINGDOM,2009-2010,81.00,12,0,81.00,0.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085,UNITED KINGDOM,2009-2010,100.80,48,0,100.80,0.0
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085,UNITED KINGDOM,2009-2010,30.00,24,0,30.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,FRANCE,2010-2011,10.20,12,0,10.20,0.0
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,FRANCE,2010-2011,12.60,6,0,12.60,0.0
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,FRANCE,2010-2011,16.60,4,0,16.60,0.0
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,FRANCE,2010-2011,16.60,4,0,16.60,0.0
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,FRANCE,2010-2011,14.85,3,0,14.85,0.0

In [ ]:
customer_level_data = sales_data.groupby('Customer ID').agg(PurchaseQty = ('PurchaseQty', 'sum'),
                                                            ReturnQty = ('ReturnQty', 'sum'),
                                                            PurchaseRevenue = ('PurchaseRevenue', 'sum'),
                                                            ReturnRevenue = ('ReturnRevenue', 'sum')).reset_index()


customer_level_data['NetRevenue'] = customer_level_data['PurchaseRevenue'] - customer_level_data['ReturnRevenue']

customer_level_data[['PurchaseQty', 'ReturnQty', 'PurchaseRevenue', 'ReturnRevenue']] = \
  customer_level_data[['PurchaseQty', 'ReturnQty', 'PurchaseRevenue', 'ReturnRevenue']].fillna(0)

customer_level_data

,Customer ID,PurchaseQty,ReturnQty,PurchaseRevenue,ReturnRevenue,NetRevenue
0,12346,74285,74216,77556.46,77188.10,368.36
1,12347,3286,0,5633.32,0.00,5633.32
2,12348,2704,0,1658.40,0.00,1658.40
3,12349,1621,5,3678.69,24.15,3654.54
4,12350,196,0,294.40,0.00,294.40
...,...,...,...,...,...,...
5867,18283,1731,0,2730.70,0.00,2730.70
5868,18284,493,0,411.68,0.00,411.68
5869,18285,144,0,377.00,0.00,377.00
5870,18286,607,16,1246.43,108.00,1138.43
5871,18287,3012,2,4132.99,5.10,4127.89

In [ ]:
# Calculated the NumPurchases and NumReturns (Purchase Frequency and Return Frequency) features

purchase_frequency = (sales_data.loc[~sales_data['Invoice'].str.startswith('C', na = False)]
                      .groupby('Customer ID')['Invoice']
                      .nunique()
                      .reset_index(name = 'NumPurchases'))


return_frequency = (sales_data.loc[sales_data['Invoice'].str.startswith('C', na = False)]
                    .groupby('Customer ID')['Invoice']
                    .nunique()
                    .reset_index(name = 'NumReturns'))

customer_level_data = customer_level_data.merge(purchase_frequency, on = 'Customer ID', how = 'left')
customer_level_data = customer_level_data.merge(return_frequency, on = 'Customer ID', how = 'left')

customer_level_data[['NumPurchases', 'NumReturns']] = customer_level_data[['NumPurchases', 'NumReturns']].fillna(0).astype(int)

customer_level_data

,Customer ID,PurchaseQty,ReturnQty,PurchaseRevenue,ReturnRevenue,NetRevenue,NumPurchases,NumReturns
0,12346,74285,74216,77556.46,77188.10,368.36,12,2
1,12347,3286,0,5633.32,0.00,5633.32,8,0
2,12348,2704,0,1658.40,0.00,1658.40,5,0
3,12349,1621,5,3678.69,24.15,3654.54,3,1
4,12350,196,0,294.40,0.00,294.40,1,0
...,...,...,...,...,...,...,...,...
5867,18283,1731,0,2730.70,0.00,2730.70,22,0
5868,18284,493,0,411.68,0.00,411.68,1,0
5869,18285,144,0,377.00,0.00,377.00,1,0
5870,18286,607,16,1246.43,108.00,1138.43,2,1
5871,18287,3012,2,4132.99,5.10,4127.89,7,1

In [ ]:
# Started calculating the RecencyDays and TenureDays

reference_date = sales_data['InvoiceDate'].max() + pd.Timedelta(days = 1)
reference_date

Timestamp('2011-12-10 12:50:00')

In [ ]:
# Calculated the RecencyDays and TenureDays from FirstPurchaseDate and LastPurchaseDate

purchase_transactions = sales_data.loc[~sales_data['Invoice'].str.startswith('C', na = False)]

customer_timespent = purchase_transactions.groupby('Customer ID').agg(FirstPurchaseDate = ('InvoiceDate', 'min'),
                                                       LastPurchaseDate = ('InvoiceDate', 'max')).reset_index()

customer_timespent['RecencyDays'] = (reference_date - customer_timespent['LastPurchaseDate']).dt.days
customer_timespent['TenureDays'] = (customer_timespent['LastPurchaseDate'] - customer_timespent['FirstPurchaseDate']).dt.days

customer_timespent

,Customer ID,FirstPurchaseDate,LastPurchaseDate,RecencyDays,TenureDays
0,12346,2009-12-14 08:34:00,2011-01-18 10:01:00,326,400
1,12347,2010-10-31 14:20:00,2011-12-07 15:52:00,2,402
2,12348,2010-09-27 14:59:00,2011-09-25 13:13:00,75,362
3,12349,2010-04-29 13:20:00,2011-11-21 09:51:00,19,570
4,12350,2011-02-02 16:01:00,2011-02-02 16:01:00,310,0
...,...,...,...,...,...
5841,18283,2010-02-19 17:16:00,2011-12-06 12:02:00,4,654
5842,18284,2010-10-04 11:33:00,2010-10-04 11:33:00,432,0
5843,18285,2010-02-17 10:24:00,2010-02-17 10:24:00,661,0
5844,18286,2009-12-16 10:45:00,2010-08-20 11:57:00,477,247
5845,18287,2010-05-17 11:55:00,2011-10-28 09:29:00,43,528

In [ ]:
# Continue here when I come back
customer_level_data = customer_level_data.merge(customer_timespent, on = 'Customer ID', how = 'left')

# I didn't fill NaN values in the RecencyDays with 0, since customers who do not have any purchase history do not also have any RecencyDays
# So i dropped them
customer_level_data = customer_level_data.dropna(subset = ['RecencyDays'])
customer_level_data[['RecencyDays', 'TenureDays']] = (customer_level_data[['RecencyDays', 'TenureDays']]).astype(int)
customer_level_data

,Customer ID,PurchaseQty,ReturnQty,PurchaseRevenue,ReturnRevenue,NetRevenue,NumPurchases,NumReturns,FirstPurchaseDate,LastPurchaseDate,RecencyDays,TenureDays
0,12346,74285,74216,77556.46,77188.10,368.36,12,2,2009-12-14 08:34:00,2011-01-18 10:01:00,326,400
1,12347,3286,0,5633.32,0.00,5633.32,8,0,2010-10-31 14:20:00,2011-12-07 15:52:00,2,402
2,12348,2704,0,1658.40,0.00,1658.40,5,0,2010-09-27 14:59:00,2011-09-25 13:13:00,75,362
3,12349,1621,5,3678.69,24.15,3654.54,3,1,2010-04-29 13:20:00,2011-11-21 09:51:00,19,570
4,12350,196,0,294.40,0.00,294.40,1,0,2011-02-02 16:01:00,2011-02-02 16:01:00,310,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5867,18283,1731,0,2730.70,0.00,2730.70,22,0,2010-02-19 17:16:00,2011-12-06 12:02:00,4,654
5868,18284,493,0,411.68,0.00,411.68,1,0,2010-10-04 11:33:00,2010-10-04 11:33:00,432,0
5869,18285,144,0,377.00,0.00,377.00,1,0,2010-02-17 10:24:00,2010-02-17 10:24:00,661,0
5870,18286,607,16,1246.43,108.00,1138.43,2,1,2009-12-16 10:45:00,2010-08-20 11:57:00,477,247
5871,18287,3012,2,4132.99,5.10,4127.89,7,1,2010-05-17 11:55:00,2011-10-28 09:29:00,43,528

In [ ]:
# Calculated the AvgDaysBetweenPurchases feature

avgdays_transactions = sales_data.loc[~sales_data['Invoice'].str.startswith('C', na = False)].copy()
avgdays_transactions['InvoiceDate'] = pd.to_datetime(avgdays_transactions['InvoiceDate'])

# I sorted the values per Customer ID and InvoiceDate so that I can compute the days differences per transaction and get the AvgDaysBetweenPurchases
avgdays_transactions = avgdays_transactions.sort_values(['Customer ID', 'InvoiceDate'])

# Calculated the days difference per transaction
avgdays_transactions['DaysBetweenPurchases'] = (avgdays_transactions.groupby('Customer ID')['InvoiceDate']
                                               .diff().dt.days)

# Calculated the mean value which represents the AvgDaysBetweenPurchase
avgdays = (avgdays_transactions.groupby('Customer ID')['DaysBetweenPurchases']
           .mean().reset_index(name = 'AvgDaysBetweenPurchases'))

# Merged the avgdays dataframe into the customer_level_data dataframe
customer_level_data = customer_level_data.merge(avgdays, on = 'Customer ID', how = 'left')

# Handled AvgDaysBetweenPurchases for one-time buyers
customer_level_data['AvgDaysBetweenPurchases'] = (customer_level_data['AvgDaysBetweenPurchases'].fillna(customer_level_data['TenureDays']))

# Checked the customer_level_data to see what it looked like
customer_level_data

,Customer ID,PurchaseQty,ReturnQty,PurchaseRevenue,ReturnRevenue,NetRevenue,NumPurchases,NumReturns,FirstPurchaseDate,LastPurchaseDate,RecencyDays,TenureDays,AvgDaysBetweenPurchases
0,12346,74285,74216,77556.46,77188.10,368.36,12,2,2009-12-14 08:34:00,2011-01-18 10:01:00,326,400,11.969697
1,12347,3286,0,5633.32,0.00,5633.32,8,0,2010-10-31 14:20:00,2011-12-07 15:52:00,2,402,1.583333
2,12348,2704,0,1658.40,0.00,1658.40,5,0,2010-09-27 14:59:00,2011-09-25 13:13:00,75,362,8.044444
3,12349,1621,5,3678.69,24.15,3654.54,3,1,2010-04-29 13:20:00,2011-11-21 09:51:00,19,570,3.333333
4,12350,196,0,294.40,0.00,294.40,1,0,2011-02-02 16:01:00,2011-02-02 16:01:00,310,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5841,18283,1731,0,2730.70,0.00,2730.70,22,0,2010-02-19 17:16:00,2011-12-06 12:02:00,4,654,0.655137
5842,18284,493,0,411.68,0.00,411.68,1,0,2010-10-04 11:33:00,2010-10-04 11:33:00,432,0,0.000000
5843,18285,144,0,377.00,0.00,377.00,1,0,2010-02-17 10:24:00,2010-02-17 10:24:00,661,0,0.000000
5844,18286,607,16,1246.43,108.00,1138.43,2,1,2009-12-16 10:45:00,2010-08-20 11:57:00,477,247,3.800000
5845,18287,3012,2,4132.99,5.10,4127.89,7,1,2010-05-17 11:55:00,2011-10-28 09:29:00,43,528,3.431373

In [ ]:
# Calculated the ReturnRatio, AvgBasketSize, and AvgOrderValue features

customer_level_data['ReturnRatio'] = customer_level_data['ReturnQty'] / customer_level_data['PurchaseQty']
customer_level_data['ReturnRatio'] = customer_level_data['ReturnRatio'].replace([np.inf, -np.inf], np.nan).fillna(0)

customer_level_data['AvgBasketSize'] = customer_level_data['PurchaseQty'] / customer_level_data['NumPurchases']
customer_level_data['AvgBasketSize'] = customer_level_data['AvgBasketSize'].replace([np.inf, -np.inf], np.nan).fillna(0)

customer_level_data['AvgOrderValue'] = customer_level_data['PurchaseRevenue'] / customer_level_data['NumPurchases']
customer_level_data['AvgOrderValue'] = customer_level_data['AvgOrderValue'].replace([np.inf, -np.inf], np.nan).fillna(0)

customer_level_data

,Customer ID,PurchaseQty,ReturnQty,PurchaseRevenue,ReturnRevenue,NetRevenue,NumPurchases,NumReturns,FirstPurchaseDate,LastPurchaseDate,RecencyDays,TenureDays,AvgDaysBetweenPurchases,ReturnRatio,AvgBasketSize,AvgOrderValue
0,12346,74285,74216,77556.46,77188.10,368.36,12,2,2009-12-14 08:34:00,2011-01-18 10:01:00,326,400,11.969697,0.999071,6190.416667,6463.038333
1,12347,3286,0,5633.32,0.00,5633.32,8,0,2010-10-31 14:20:00,2011-12-07 15:52:00,2,402,1.583333,0.000000,410.750000,704.165000
2,12348,2704,0,1658.40,0.00,1658.40,5,0,2010-09-27 14:59:00,2011-09-25 13:13:00,75,362,8.044444,0.000000,540.800000,331.680000
3,12349,1621,5,3678.69,24.15,3654.54,3,1,2010-04-29 13:20:00,2011-11-21 09:51:00,19,570,3.333333,0.003085,540.333333,1226.230000
4,12350,196,0,294.40,0.00,294.40,1,0,2011-02-02 16:01:00,2011-02-02 16:01:00,310,0,0.000000,0.000000,196.000000,294.400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5841,18283,1731,0,2730.70,0.00,2730.70,22,0,2010-02-19 17:16:00,2011-12-06 12:02:00,4,654,0.655137,0.000000,78.681818,124.122727
5842,18284,493,0,411.68,0.00,411.68,1,0,2010-10-04 11:33:00,2010-10-04 11:33:00,432,0,0.000000,0.000000,493.000000,411.680000
5843,18285,144,0,377.00,0.00,377.00,1,0,2010-02-17 10:24:00,2010-02-17 10:24:00,661,0,0.000000,0.000000,144.000000,377.000000
5844,18286,607,16,1246.43,108.00,1138.43,2,1,2009-12-16 10:45:00,2010-08-20 11:57:00,477,247,3.800000,0.026359,303.500000,623.215000
5845,18287,3012,2,4132.99,5.10,4127.89,7,1,2010-05-17 11:55:00,2011-10-28 09:29:00,43,528,3.431373,0.000664,430.285714,590.427143

In [ ]:
# Calculated the dormancy feature
tolerance_factor = 3

customer_level_data['IsDormant'] = (customer_level_data['RecencyDays']
                                    > tolerance_factor * customer_level_data['AvgDaysBetweenPurchases']).astype(int)

customer_level_data

,Customer ID,PurchaseQty,ReturnQty,PurchaseRevenue,ReturnRevenue,NetRevenue,NumPurchases,NumReturns,FirstPurchaseDate,LastPurchaseDate,RecencyDays,TenureDays,AvgDaysBetweenPurchases,ReturnRatio,AvgBasketSize,AvgOrderValue,IsDormant
0,12346,74285,74216,77556.46,77188.10,368.36,12,2,2009-12-14 08:34:00,2011-01-18 10:01:00,326,400,11.969697,0.999071,6190.416667,6463.038333,1
1,12347,3286,0,5633.32,0.00,5633.32,8,0,2010-10-31 14:20:00,2011-12-07 15:52:00,2,402,1.583333,0.000000,410.750000,704.165000,0
2,12348,2704,0,1658.40,0.00,1658.40,5,0,2010-09-27 14:59:00,2011-09-25 13:13:00,75,362,8.044444,0.000000,540.800000,331.680000,1
3,12349,1621,5,3678.69,24.15,3654.54,3,1,2010-04-29 13:20:00,2011-11-21 09:51:00,19,570,3.333333,0.003085,540.333333,1226.230000,1
4,12350,196,0,294.40,0.00,294.40,1,0,2011-02-02 16:01:00,2011-02-02 16:01:00,310,0,0.000000,0.000000,196.000000,294.400000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5841,18283,1731,0,2730.70,0.00,2730.70,22,0,2010-02-19 17:16:00,2011-12-06 12:02:00,4,654,0.655137,0.000000,78.681818,124.122727,1
5842,18284,493,0,411.68,0.00,411.68,1,0,2010-10-04 11:33:00,2010-10-04 11:33:00,432,0,0.000000,0.000000,493.000000,411.680000,1
5843,18285,144,0,377.00,0.00,377.00,1,0,2010-02-17 10:24:00,2010-02-17 10:24:00,661,0,0.000000,0.000000,144.000000,377.000000,1
5844,18286,607,16,1246.43,108.00,1138.43,2,1,2009-12-16 10:45:00,2010-08-20 11:57:00,477,247,3.800000,0.026359,303.500000,623.215000,1
5845,18287,3012,2,4132.99,5.10,4127.89,7,1,2010-05-17 11:55:00,2011-10-28 09:29:00,43,528,3.431373,0.000664,430.285714,590.427143,1

In [ ]:
# Verification steps
customer_level_data['IsDormant'].value_counts(normalize = True)

IsDormant
1    0.88026
0    0.11974
Name: proportion, dtype: float64

In [ ]:
customer_level_data.groupby('IsDormant')[[
    'RecencyDays', 'AvgDaysBetweenPurchases', 'NumPurchases', 'AvgOrderValue', 'NetRevenue'
]].mean().round(2)

,RecencyDays,AvgDaysBetweenPurchases,NumPurchases,AvgOrderValue,NetRevenue
IsDormant,,,,,
0,19.28,18.66,10.79,445.98,5052.80
1,224.59,3.28,5.65,379.35,2559.01

In [ ]:
# Exploring to know how much revenue is at risk due to dormancy
# Revenue at risk is 13,168,645
customer_level_data.groupby('IsDormant')['NetRevenue'].sum().astype(int).reset_index()

   IsDormant  NetRevenue
0          0     3536956
1          1    13168645

In [ ]:
# Exploring to understand the drivers of dormancy
customer_level_data.corr()['IsDormant'].sort_values(ascending = False)

IsDormant                  1.000000
RecencyDays                0.319926
FirstPurchaseDate          0.084248
Customer ID                0.003574
ReturnRatio               -0.001160
AvgBasketSize             -0.002832
ReturnQty                 -0.017130
AvgOrderValue             -0.017822
ReturnRevenue             -0.033812
PurchaseQty               -0.050334
NetRevenue                -0.057295
PurchaseRevenue           -0.061214
NumReturns                -0.075044
NumPurchases              -0.130585
AvgDaysBetweenPurchases   -0.284542
LastPurchaseDate          -0.319902
TenureDays                -0.330429
Name: IsDormant, dtype: float64